@font-face {
    font-family: 'e-UkraineHead';
    src: url(fons/e-UkraineHead.woff) format('woff'),
         url(fons/e-UkraineHead.woff2) format('woff2');
}

@font-face {
    font-family: 'e-Ukraine';
    src: url(fons/e-Ukraine.woff) format('woff'),
         url(fons/e-Ukraine.woff2) format('woff2');
}

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
}
li{
    list-style: none
}

ul {
    list-style:none;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding-left: 75px;
    padding-right: 75px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    margin-top: 40px;
    min-height: 70px;
    position: fixed;
    margin-left: 75px;
    margin-right: 75px;
    left: 0; 
    right: 0;
    z-index: 2;
}
.header__menu {
     flex-grow:1
}

.header__logo {
    margin-left: 10px;
    margin-right: 10px;
}

.support-text {
    margin-right: 5px;
}

.menu__list {
    color: #2A2A2A;
    font-family: "Euclid Circular A";
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
}

.banner__top {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-image: url(../baptist_youth/img/bg.svg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    z-index: 1;
}

.banner__top-buttons {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.banner__all_btn {
    margin-right: 10px;
}

.banner__donat {
    color: #FFF;
    text-align: center;
    font-family: "Euclid Circular A";
    text-decoration: none;
    padding: 18px;
    font-weight: 500;
    border-radius: 50px;
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 20px;
}

.banner__top-inner {
    width: 100%;
    height: 100vh; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; 
}

.inner__content {
    position: absolute;
    top: 50px;
    bottom: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.networks {
    position: absolute;
    bottom: 30px;
    left: 75px; 
    right: 75px; 
    display: flex;
    justify-content: space-between;
}

.btn-Ñonference {
    position: relative;
    margin-left: auto;
    margin-right: 75px; 
}

.social-networks {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-networks > * {
    margin-left: 40px;
}

.banner__btn {
    border: 1px solid grey;
    color: #242424;
    text-align: center;
    font-family: "Euclid Circular A";
    text-decoration: none;
    padding: 18px 60px;
    font-weight: 500;
    border-radius: 50px;
}

.banner__team_btn {
    border: 1px solid grey;
    color: #242424;
    text-align: center;
    font-family: "Euclid Circular A";
    text-decoration: none;
    margin-left: 10px;
    padding: 18px 60px;
    font-weight: 500;
    border-radius: 50px;
}

.banner__inancial_btn {
    border: 1px solid grey;
    color: #242424;
    text-align: center;
    font-family: "Euclid Circular A";
    text-decoration: none;
    flex-grow: 1;
    margin: 0 5px;
    padding: 18px;
    font-weight: 500;
    border-radius: 50px;
}


.btn {
    border: 1px solid grey;
    background-color: #FFF;
    color: #242424; 
    text-align: center;
    font-family: "Euclid Circular A";
    text-decoration: none;
    padding: 18px 40px;
    font-weight: 500;
    border-radius: 50px;
}

.banner__all_btn {
    color: #FFF;
    text-align: center;
    font-family: "Euclid Circular A";
    text-decoration: none;
    margin-right: 10px;
    padding: 18px 40px;
    font-weight: 500;
    border-radius: 50px;
}

.expanded_btn {
    color: #FFF;
    text-align: center;
    align-items: center;
    font-family: "Euclid Circular A";
    text-decoration: none;
    padding: 18px 40px;
    font-weight: 500;
    border-radius: 50px;
}

.btn--violet {
    color: #FFF;
    background-color: #6A00fa; 
    font-weight: 400;
}

.our-vision-inner {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 2px solid  #6F6F6F;
    margin-bottom: 30px
}

.title {
    font-family: "Euclid Circular A";
    font-weight: 700;
  }
  
  .title--1 {
    color: #FFF;
    text-align: center;
    font-family: "e-Ukraine Head";
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;
    white-space: nowrap;
    width: min-content;
  }
  
  .title--2 {
    color: #6F6F6F;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
  }
  
  .inner_title--2 {
    color: #FFF;
    line-height: 2;
  }
  
  .title--3 {
    color: #2A2A2A;
    font-size: 60px;
  }
  
  .title--4 {
    color: #242424;
    font-family: e-Ukraine;
    font-size: 30px;
  }
  
  .title--5 {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    background-color: #6A00fa;
    text-decoration: none;
    padding: 2px 30px;
    border-radius: 50px;
  }
  
  .title--6 {
    color: #242424;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 300;
  }
  
  .user_name {
    font-weight: 700;
    color: #242424;
    font-family: e-UkraineHead;
    font-size: 24px;
  }
  
  .title--8 {
    color: #6F6F6F;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 30px;
  }


.banner__top-subtitle {
    font-family: e-Ukraine;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-left: 70px;
}

.our-vision-inner {
    margin-top: 80px;
}
.our {
    margin-bottom: 50px;
}

.objectives_title_secondary {
    font-size: 16px;
    line-height: 1.5;
  }

.missionary {
    display: flex; 
    justify-content: center;
    border-bottom: 2px solid  #6F6F6F;
    margin-top: 50px;
    margin-bottom: 38px;
}
.vision {
    justify-content: start;
    align-items: start;
    text-align: start
}

.banner__vision .title--4 {
    margin-bottom: 25px;
}

.banner__text--inner {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #6F6F6F;
    margin-bottom: 30px ;
}

.team__text--inner {
    display: flex;
    border-bottom: 2px solid #6F6F6F;
    margin-bottom: 50px;
    align-items: center;
  }
  
.team {
    margin-right: auto;
    margin-bottom: 30px;
}

.banner__team {
    margin-right: auto; 
    margin-right: 10px; 
}

.btn_back,
.btn_go {
    margin-bottom: 30px;
    margin-left: auto; 
    margin-left: 10px;
}

.position_user {
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    text-align: center;
    justify-content:center;
    flex-wrap: wrap;
}

.banner__team_expanded_btn {
    margin-left: auto;
    width: min-content;
    align-items: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
}

.banner__expanded_btn {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 100px;
}

.expanded--btn {
    margin-left: auto;
}

  .swiper_mySwiper {
    position: relative;
    overflow: hidden;
  }
  
  .swiper-container {
    width: 100%;
    margin-bottom: 20px;
  }
  
.team-info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 10px; 
    box-sizing: border-box;
}

.project-info__content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 10px; 
    box-sizing: border-box;
}
  
.swiperr_mySwiper {
    overflow: hidden; 
}

.banner__team-info .swiper-slide {
    box-sizing: border-box;
    width: 100%; 
} 

.project-info__content img{
    max-width: 100%;
    height: auto;
}

.team-info__content img {
    max-width: 100%;
    height: auto;
  }

.banner__our--text{
    display: flex;
    border-bottom: 2px solid #6F6F6F;
    margin-bottom: 50px;
    align-items: center;
}

.banner__donat--inner{
    display: flex;
}

.account_details{
    margin-left: 30px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.con {
   display: flex; 
   flex-wrap: wrap;
}

.icon_calendar {
    margin-left: 10px;
}

.date {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 36px;
}

.title_text {
    margin-top: 100px;
    margin-bottom: 30px;
}

.banner__donat--inner {
    width: min-content;
}

.financial_contributions {
    border: 1px solid grey;
    border-radius: 10px; 
}

.account_details {
    border: 1px solid grey;
    border-radius: 10px; 
    margin-top: 30px;
}
.one_time {
    border-bottom: 2px solid  #6F6F6F;
}
.subscription{
    border-bottom: 2px solid  #6F6F6F;   
}

.text_top { 
margin-top: 20px;
margin-left: 26px;
display: flex;
white-space: nowrap;
}

.one_time {
  color: #242424;
  font-size: 18px; 
  font-weight: 600;
  margin-bottom: 50px;
}

.subscription{
    margin-left: 30px;
}

.money_amount {
    border-bottom: 2px solid  #6F6F6F;
    display: flex;
    justify-content: space-between;
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 44px;
    margin-bottom: 20px;
}
.currency {
    margin-bottom: 5px;
}

.sum {
    margin-right: auto;
    margin-bottom: 15px;
}

.money {
    justify-content: space-between;
    display: flex;
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 36px;
    white-space: nowrap;
}

.account_text {
 padding-top: 30px;
 padding-left: 26px;
 padding-bottom: 20px;
}



.payment_method {
    margin-top: 25px;
    margin-bottom: 50px;
}

.text {
    padding-left: 26px;
    padding-right: 26px;
    text-align: start;
}

.organization {
    padding-left: 26px;
    text-align: start;
    margin-top: 30px;
    margin-bottom: 20px;
}
.edr{
    display: flex;
    justify-content: start;
    padding-left: 26px;
}

.score_edrpou {
    padding-left: 14px;
}


.donation_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

.support-text {
    padding: 20px;
}
.footer__left{
    display: flex;
}

.footer {
    font-weight: 466px;
    margin-top: 100px;
    background-color: black;
    color: floralwhite;
}
.container__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social_networks {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}
.footer__info{
    display: flex;
    justify-content: space-between;
    align-items: to;
}
.footer__text_main{
    margin-left: 20px;
    white-space: nowrap;
}

.footer__left__center {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 50px;
}

.privacy_policy{
    margin-top: 56px;
    margin-bottom: 20px;
}
.footer__networks {
    display: flex;
    margin-right: 50px;
}
.left__top{
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-top: 118px;
}

.footer__about,
.footer__news,
.footer__team,
.footer__education {
    margin-top: 118px;
    margin-right: 30px;
    margin-left: 30px;
}
.footter__bottom {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
}

.footer__copy {
    margin-top: 100px;
    white-space: nowrap;
}

@media (max-width: 800px) {
    .user_name {
        font-size: 20px;
        font-weight: 700;
    }
    .banner__team_btn{
        padding: 16px 56px;
    }
}

@media (max-width: 570px) {
    .user_name {
        font-size: 16px;
        font-weight: 700;
    }
    .banner__team_btn{
        padding: 14px 52px;
    }
}

@media (max-width: 320px) {
    .user_name {
        font-size: 14px;
        font-weight: 700;
    }
    .banner__team_btn{
        padding: 14px 48px;
    }
}
