@font-face {
    font-family: 'e-UkraineHead';
    src: url(fons/e-UkraineHead.woff) format('woff'),
         url(fons/e-UkraineHead.woff2) format('woff2');
}

@font-face {
    font-family: 'e-Ukraine';
    src: url(fons/e-Ukraine.woff) format('woff'),
         url(fons/e-Ukraine.woff2) format('woff2');
}

@font-face {
    font-family: 'a-Euclid';
    src: url(fons/a-Euclid.woff) format('woff'),
         url(fons/a-Euclid.woff2) format('woff2');
}

@font-face {
    font-family: 'a-EuclidBold';
    src: url(fons/a-EuclidBolt.woff) format('woff'),
         url(fons/a-EuclidBolt.woff2) format('woff2');
}

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}
* {
    margin: 0;
    padding: 0;
}
li{
    list-style: none
}

ul {
    list-style:none;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 75px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    margin: 40px 75px 0;
    min-height: 70px;
    position: fixed;
    left: 0; 
    right: 0;
    z-index: 2;
}

.header__logo {
    margin: 0 10px;
}

.header__menu {
    padding-left: 50px;
     flex-grow:1
}

.menu__list {
    color: #2A2A2A;
    font-family: "a-Euclid";
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
}

.support-text {
    margin-right: 5px;
}

.banner--top {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-image: url(../baptist_youth/img/bg.svg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    z-index: 1;
}

.banner--center {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-image: url(../baptist_youth/img/rectangle_fons.svg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    z-index: 1;
}

.banner {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ban {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.banner__inner_center {
    display: flex;
    align-items: center;
    text-align: left;
}

  .center {
    color: #FFF;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .title_center {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 85px;
    color: #FFF;
    font-size: 60px;
  }

  .banner__team-text {
    margin-top: 80px;
  }

  .banner__item_center {
    color: #FFF;
    font-family: "a-Euclid";
    font-size: 30px;
    font-weight: 500;
  }

  .banner__item_bottom {
    margin-top: 30px;
    color: #FFF;
    font-family: "e-Ukraine";
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
  }

  .center_top {
    text-align: start;
    margin-top: 40px;
    margin-bottom: 25px;
    color: #FFF;
    font-size: 60px;
  }


  .banner__inner {
    display: flex;
  }
  
  .banner__inner_center {
    text-decoration: none;
  }

  .banner__content_left,
  .banner__content_center,
  .banner__right {
    flex: 1;
  }
  
  .banner__column {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%; 
  }
  
  .banner__item {
    color: #FFF;
    margin: 20px;
    padding: 20px;
  }

.banner__inner_laptop {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner__inner {
    position: absolute;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-containe {
    justify-content: space-between;
}

.content_top {
    display: flex;
}

.row_bottom,
.row_center,
.row_top 
{
    display: flex;
}

.banner_laptop {
    position: relative;
}

.banner_laptop img {
    padding-top: 70px;
    max-width: 100%;
    height: auto;
    display: block;
}

.banner__content {
    flex: 1;
    text-align: left;
}

.banner__buttons {
    display: flex;
    margin-top: 30px;
}

.banner__all_btn {
    margin-right: 10px;
}

.banner__donat {
    color: #FFF;
    text-align: center;
    font-family: "Euclid Circular A";
    text-decoration: none;
    padding: 18px;
    font-weight: 500;
    border-radius: 50px;
    margin: 0 26px 30px;
}

.our-vision__inner {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 30px;
}

.our-vision-inner {
    margin-top: 80px;
}

.missionary {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #6F6F6F;
    margin: 50px 0 38px;
}

.vision {
    justify-content: start;
    align-items: start;
    text-align: start
}

.text {
    padding: 0 26px;
    text-align: start;
}

.banner__expanded_btn {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 100px;
}

.team__text--inner {
    display: flex;
    border-bottom: 2px solid #6F6F6F;
    margin-bottom: 50px;
    align-items: center;
  }

.btn_back,
.btn_go {
    margin-bottom: 30px;
    margin-left: auto; 
    margin-left: 10px;
}

.banner__team-info .swiper-slide {
    padding-bottom: 50px;
    box-sizing: border-box;
    width: 100%; 
} 
.container_project {
    padding-bottom: 2px;
    display: flex;
    max-width: 100%;
}
.swiperrr_mySwiper {
    overflow: hidden; 
}

.swiperr_mySwiper {
    overflow: hidden; 
}

  .swiper_mySwiper {
    position: relative;
    overflow: hidden;
  }
  
  .swiper-container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

.banner__team_info,
.our-vision
{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.swiper-container_partners {
  width: 100%;
  margin-bottom: 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
  

.team-info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 10px; 
    box-sizing: border-box;
}

.position_user {
    display: flex;
    margin: 15px 0;
    align-items: center;
    text-align: center;
    justify-content:center;
    flex-wrap: wrap;
}

.user_name {
    font-weight: 700;
    color: #242424;
    font-family: "e-UkraineHead";
    font-size: 24px;
}

.banner__text--inner {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #6F6F6F;
    margin-bottom: 30px ;
}

.banner__team_expanded_btn {
    margin-left: auto;
    width: min-content;
    align-items: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
}

.project-info__content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-sizing: border-box;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.ready {
    margin-right: 50px;
    padding-bottom: 25px;
    white-space: nowrap;
}

.icon {
    display: flex; 
    flex-wrap: wrap;
}

.banner__donat--inner{
    display: flex;
}

.financial_contributions {
    border: 1px solid grey;
    border-radius: 10px; 
}

.text_top {
    margin: 20px 0 0 26px;
    display: flex;
    white-space: nowrap;
}

.one_time {
    margin-right: 30px;
    border-bottom: 2px solid  #6F6F6F;
}

.subscription{
    border-bottom: 2px solid  #6F6F6F;   
}

.money_amount {
    border-bottom: 2px solid #6F6F6F;
    display: flex;
    justify-content: space-between;
    margin: 44px 36px 20px;
}

.sum {
    margin-right: auto;
    margin-bottom: 15px;
}

.currency {
    margin-bottom: 5px;
}

.money {
    justify-content: space-between;
    display: flex;
    margin: 0 26px 36px;
    white-space: nowrap;
}

.account_details{
    margin-left: 30px;
    border: 1px solid grey;
    border-radius: 10px; 
}

.organization {
    padding-left: 26px;
    text-align: start;
    margin: 30px 0 20px;
}

.edr{
    display: flex;
    justify-content: start;
    padding-left: 26px;
}

.score_edrpou {
    padding-left: 14px;
}

.donation_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 26px 30px;
    padding: 10px;
    border: 2px solid #6F6F6F;
    border-radius: 50px;
}

.uan {
    margin: 0 0 10px 20px;
}

.number {
    margin-left: 20px;
}

.column_two {
    display: flex;
}

.column_two img {
    margin-right: 10px;
}

.support {
    padding: 20px;
}

.btn__text {
    font-family: "e-UkraineHead";
    white-space: nowrap;
    padding: 20px;
}

.organization,
.score_edrpou,
.uan,
.support {
    color: #242424;
    font-size: 18px;
    font-weight: 600;
}


.footer {
    margin-top: 100px;
    font-weight: 466px;
    background-color: black;
    color: floralwhite;
}

.footer__networks {
    margin-bottom: 60px;
    list-style: none;
    display: flex;
}

.footer__networks li {
    margin-right: 40px;
}

.footer__privacy-policy {
    font-family: 'e-Ukraine';
    font-size: 14px;
    color: #7B7B7B;
}

.content_left {
    margin-right: 250px;
}
.content__top  {
    display: flex;
    justify-content: space-between;
    text-align: start;
}

.content_right {
    width: max-content;
    justify-content: space-between;
    flex-grow: 1;
    display: flex;
    margin-top: 100px;
}
.logo__link {
    padding-right: 10px;
}

.course_content_top {
    align-items: center;
    display: flex;
}

.course_content_bottom {
    color: #6F6F6F;
    font-family: "a-Euclid";
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    padding-left: 35px;
}

.grid-container {
    padding: 30px 44px;
    border: 2px solid #6F6F6F;
    border-radius: 20px;
}
.top--link {
    padding-right: 30px;
}
.top--text{
    font-size: 18px;
    font-family: "e-UkraineHead";
}

.left--top {
    align-items: center;
    display: flex;
    margin-top: 80px;
}

.footer__text_left__center {
    font-family: "e-Ukraine";
    color: #7B7B7B;
    margin-top: 20px;
    padding-bottom: 50px;
    font-size: 14px;
    line-height: 2;
}

.footer__left--center {
    font-family: "e-Ukraine";
    color: #7B7B7B;
    font-size: 14px;
    text-align: left;
    padding-top: 40px;
}

.footer__left--bottom {
    font-family: "e-Ukraine";
    color: #7B7B7B;
    font-size: 14px;
    padding-top: 20px;
}

.content__bottom{
    display: flex;
    justify-content: space-between;
    text-align: start;
    align-items: center;
    padding-bottom: 54px;
}

.text_icon {
margin-top: -70px ;
}

.footer__copy {
    font-family: 'e-Ukraine';
    font-size: 14px;
    color: #7B7B7B;
    margin-left: -100px;
}




.banner__vision .title--4 {
    margin-bottom: 25px;
}

.banner__btn {
    border: 1px solid grey;
    color: #242424;
    text-align: center;
    font-family: "Euclid Circular A";
    text-decoration: none;
    padding: 18px 60px;
    font-weight: 500;
    border-radius: 50px;
}

.btn {
    border: 1px solid grey;
    background-color: #FFF;
    color: #242424; 
    text-align: center;
    font-family: "Euclid Circular A";
    text-decoration: none;
    padding: 18px 40px;
    font-weight: 500;
    border-radius: 50px;
}

.banner__all_btn {
    color: #FFF;
    text-align: center;
    font-family: "Euclid Circular A";
    text-decoration: none;
    margin-right: 10px;
    padding: 18px 40px;
    font-weight: 500;
    border-radius: 50px;
    white-space: nowrap;
}

.banner__financial_btn {
    border: 1px solid grey;
    color: #242424;
    text-align: center;
    font-family: "Euclid Circular A";
    text-decoration: none;
    flex-grow: 1;
    margin: 0 5px;
    padding: 18px;
    font-weight: 500;
    border-radius: 50px;
}

.expanded_btn {
    color: #FFF;
    text-align: center;
    align-items: center;
    font-family: "Euclid Circular A";
    text-decoration: none;
    padding: 18px 40px;
    font-weight: 500;
    border-radius: 50px;
}

.btn--violet {
    color: #FFF;
    background-color: #6A00fa; 
    font-weight: 400;
}


.title {
    font-family: "a-Euclid";
    font-weight: 700;
  }
  


  .title--1 {
    color: #FFF;
    text-align: left;
    font-family: "e-Ukraine Head";
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;
    white-space: nowrap;
  }
  
  .title--2 {
    color: #6F6F6F;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
  }
  
  .inner_title--2 {
    padding-top: 20px;
    color: #FFF;
    line-height: 1.5;
  }

  .inner_title_ready {
    white-space: nowrap;
    line-height: 2;
  }
  

  .title--3 {
    color: #2A2A2A;
    font-size: 60px;
  }
  
  .title--4 {
    color: #242424;
    font-family: "a-EuclidBold";
    font-size: 30px;
  }
  
  .title--5 {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    background-color: #6A00fa;
    text-decoration: none;
    padding: 2px 30px;
    border-radius: 50px;
  }
.title--6 {
    color: #242424;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 300;
}
  
  .title--8 {
    color: #6F6F6F;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0 30px;
}

.our {
    font-family: "a-Euclid";
    color: #FFF;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.donat,
.courses {
    margin-bottom: 50px;
}

.—Åourse {
    padding-bottom: 80px;
}
.donat__inner {
    margin-top: 90px;
    text-align: center;
    margin-bottom: 80px;
}

.courses__inner {
    padding-top: 80px;
    text-align: left;
}

.team {
    margin-right: auto;
    margin-bottom: 30px;
}

.banner__team {
    margin-right: auto; 
    margin-right: 10px; 
}

.expanded--btn {
    margin-left: auto;
}

.project-info__content img{
    max-width: 100%;
    height: auto;
}

.team-info__content img {
    max-width: 100%;
    height: auto;
}

.icon_calendar {
    margin-left: 10px;
}

.date {
    margin: 0 36px 10px 10px;
}

@media (max-width: 800px) {
    .user_name {
        font-size: 20px;
        font-weight: 700;
    }
    .banner__team_btn{
        padding: 16px 56px;
    }
}

@media (max-width: 570px) {
    .user_name {
        font-size: 16px;
        font-weight: 700;
    }
    .banner__team_btn{
        padding: 14px 52px;
    }
}

@media (max-width: 320px) {
    .user_name {
        font-size: 14px;
        font-weight: 700;
    }
    .banner__team_btn{
        padding: 14px 48px;
    }
}