@font-face {
    font-family: 'e-UkraineHead';
    src: url(fons/e-UkraineHead.woff) format('woff'),
         url(fons/e-UkraineHead.woff2) format('woff2');
}

@font-face {
    font-family: 'e-Ukraine';
    src: url(fons/e-Ukraine.woff) format('woff'),
         url(fons/e-Ukraine.woff2) format('woff2');
}

.body {
    margin: 0;
}

.main_screen {
    width:100%;
    height: 5000px;
}

.container_bg {
    background-image: url('img/take.svg'); 
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 40px;
}

.сontrol_panel {
    position: absolute;
    top: 40px;
    right: 75px;
    left: 75px;
    padding: 8px 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
}

.nav-item {
    font-family: 'Euclid Circular A', sans-serif;
    color: #2A2A2A;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    margin-left: 100px; 
}

.button_to_support {
    font-family: Euclid Circular A;
    background-color:#6A00FA;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    padding: 20px 80px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
}

.icon_to_support_arrow {
    margin-left: 10px;
}

.cart-img {
    position: absolute;
    top: 18px;
    right: 7px;
}

.сontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    justify-content: center;
    align-items: center; 
}

.card_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.main_text {
    color:#FFF;
    font-family: 'e-UkraineHead';
    font-size: 75px;
    font-weight: 500;
    white-space: nowrap;
}

.secondary_text {
    margin-top: 15px;
    margin-bottom: 25px;
    color: #fff;
    font-family: 'e-Ukraine';
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
}

.two_buttons {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.btn_one,
.btn_two {
    font-family: Euclid Circular A;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding: 22px 46px;
}

.btn_one {
    background-color: #6A00FA;
    color: #fff;
    margin-right: 30px;
}

.btn_two {
    background-color: #fff;
    color:#242424;
}

.btn_icon_arrow {
    margin-left: 8px;
    margin-right: 10px ;
}

.btn_icon_user {
    margin-left: 8px;
}

.icon_social_networks {
    position: absolute;
    bottom: 20px;
    right: 100px;
    left: 100px;
    padding: 8px 8px;
    display: flex;
    align-items: center;
}

.icon_social_networks div {
    margin-right: 40px;
}

.btn_сonference {
    text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.our_vision {
    margin-left: 100px;
    margin-right: 100px;
}

.our_vision_container{
    margin-bottom: 100px;
}

.our_vision_card {
    align-items: center;
    top: 80px;
}


.card_text {
    position: relative;
    top: 80px;
    padding: 8px 8px;
    display: flex;
    align-items: center;
}

.our_vision_main,
.our_team_text_btn {
    font-family: Euclid Circular A;
    color: #2A2A2A;
    font-size: 40px;
    font-weight: 600;
}

.our_vision_secondary {
    font-family: e-Ukraine;
    color: #6F6F6F;
    font-size: 18px;
    font-weight: 300;
}

.our_vision_secondary{
    margin-left: 30px;
}

.hr {
    position: relative;
    border: none; 
    height: 5px; 
    background-color: #000; 
}

.missionary_container,
.impact_container {
    display: flex;
    padding: 20px;
}

.missionary_icon{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 70px;
}

.impact_icon {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 80px;
}

.missionary_text_main,
.impact_text_main,
.missionary_text_secondary,
.impact_text_secondary {
    font-family: e-Ukraine;
}

.missionary_text_main,
.impact_text_main {
    color: #242424;
    font-size: 30px;
    font-weight: 600;
    flex: 1;
}

.missionary_text_secondary,
.impact_text_secondary {
    color: #6F6F6F;
    font-size: 18px;
    font-weight: 300;
}

.icon {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.our_team_panel,.projects_container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.our_team_btn_panel,
.our_team_btn_projects {
    font-family: Euclid Circular A;
    background-color:#FFF;
    color:#242424;
    margin-bottom: 20px;
    margin-left: auto;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
    border: 2px solid #242424; 
    padding: 10px 20px; 
    display: inline-block; 
    text-decoration: none; 
}

.our_team_text_btn{
    display: flex;
    align-items: center;
}

.go_back {
    max-width: 100%;
    height: auto;
    margin-left: auto;
}
.container_user {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.column_user {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center; 
    margin: 10px; 
}

.position {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.status {
    font-family: 'e-Ukraine';
    background-color:#FFF;
    color:#242424;
    flex: 1;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    border-radius: 50px;
    border: 2px solid #242424; 
    padding: 2px 4px; 
    display: inline-block; 
    text-decoration: none; 
}

.our_text-container{
    display: flex;
    justify-content: space-between;
}
  
.our_text_main {
    font-family: Euclid Circular A;
    margin-right: auto;
    color: #242424;
    font-size: 40px;
    font-weight: 600;
    flex: 1;   
}

.forum_btn,
.conferences_btn,
.seminars_btn {
font-family: Euclid Circular A;
background-color:#FFF;
color:#242424;
margin-bottom: 20px;
margin-left: 20px;
font-size: 16px;
font-weight: 400;
border-radius: 50px;
border: 2px solid #242424; 
padding: 10px 20px; 
display: inline-block; 
text-decoration: none; 
}

.our_team_all_btn {
font-family: Euclid Circular A;
background-color: #6A00FA;
color:#242424;
margin-bottom: 20px;
font-size: 16px;
font-weight: 400;
border-radius: 50px;
border: 2px solid #242424; 
padding: 10px 20px; 
display: inline-block; 
text-decoration: none; 
}

hr {
    border: 1px solid #ccc;
    margin: 0;
}

.events_buttons {
    display: flex;
    
}



.support_youth_movement_container {
    display: flex;
    justify-content: space-around;
}

.financial_support_column.account_details_column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 10px;
}


img {
    max-width: 100%;
    height: auto;
}

.scrollable_columns_container {
    display: flex;
    overflow-x: auto;
}

.new_container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.column {
    text-align: center;
    padding: 10px;
}

.column_inner{
    display: flex;
}

.money{
    display: flex;
}

.to_support{
    display: flex;
}

.financial_contributions{
    display: flex;
}

.money_amount{
    display: flex;
}

.payment_method{
    display: flex;
}

.edr{
    display: flex;
}


button {
    display: flex;
    padding: 10px;
}

.column-one {
    text-align: center;
}

.column-two {
    align-items: center;
}




.partners_icon {
    margin: 30px auto;
    border: 1px solid #000;
    max-width: 60%;
    overflow: hidden;
}

.partners_row {
    display: flex;
    width: 200%;
    animation: partners_icon 5s linear infinite;
}

.partners_row span {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.partners_row img {
    width: 20%;
    margin-right: 10px
}

@keyframes partners_icon {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
