@font-face {
    font-family: 'e-UkraineHead';
    src: url(fons/e-UkraineHead.woff) format('woff'),
        url(fons/e-UkraineHead.woff2) format('woff2');
}

@font-face {
    font-family: 'e-Ukraine';
    src: url(fons/e-Ukraine.woff) format('woff'),
        url(fons/e-Ukraine.woff2) format('woff2');
}

@font-face {
    font-family: 'a-Euclid';
    src: url(fons/a-Euclid.woff) format('woff'),
        url(fons/a-Euclid.woff2) format('woff2');
}

@font-face {
    font-family: 'a-EuclidBold';
    src: url(fons/a-EuclidBolt.woff) format('woff'),
        url(fons/a-EuclidBolt.woff2) format('woff2');
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none
}

ul {
    list-style: none;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 clamp(1.25rem, 0.5625rem + 3.4375vw, 4.6875rem);
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    margin: clamp(1.25rem, 1rem + 1.25vw, 2.5rem) clamp(2.125rem, 1.6125rem + 2.5625vw, 4.6875rem) 0;
    min-height: clamp(1.25rem, 0.5625rem + 3.4375vw, 4.6875rem);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
}

.header__logo {
    margin: 0px clamp(0.25rem, 0.175rem + 0.375vw, 0.625rem);
}

.header__menu {
    padding-left: 300px;
    padding-right: 150px;
    flex-grow: 1
}

.menu__list {
    color: #2A2A2A;
    font-family: "a-Euclid";
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: clamp(0.375rem, 0.225rem + 0.75vw, 1.125rem);
}

.banner--top {
    position: relative;
    width: 100%;
    height: clamp(28.125rem, 22.6875rem + 27.1875vw, 55.3125rem);
    /* кавички на url */
    background-image: url(../baptist_youth/img/bg_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.banner--center {
    position: relative;
    width: 100%;
    height: clamp(28.125rem, 22.6875rem + 27.1875vw, 55.3125rem);
    background-image: url(../baptist_youth/img/rectangle_fons.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.banner {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ban {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__inner_center {
    display: flex;
    align-items: center;
    text-align: left;
    text-decoration: none;
}

.banner__team-text {
    margin-top: 80px;
}

.banner__item_center {
    color: #FFF;
    font-family: "a-Euclid";
    font-size: 30px;
    font-weight: 500;
    white-space: nowrap;
}

.banner__content_left,
.banner__content_center,
.banner__right {
    flex: 1;
    margin: 0 8px;
}

.banner__content_center,
.banner__content_left {
    padding-right: 30px;
}

.banner__item_bottom {
    margin-right: clamp(0.3125rem, -0.625rem + 4.6875vw, 5rem);
    margin-top: 30px;
    color: #FFF;
    font-family: "e-Ukraine";
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
}

.center_top {
    text-align: start;
    margin-top: 40px;
    margin-bottom: 25px;
    color: #FFF;
    font-size: 60px;
}

.raight_center_top {
    text-align: start;
    margin-top: 40px;
    margin-bottom: 25px;
    color: #FFF;
    font-size: 60px;
}

.banner__column {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.banner__inner_laptop {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner__inner {
    position: absolute;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner_laptop {
    position: relative;
}

.banner_laptop img {
    padding-top: 70px;
    max-width: 100%;
    height: auto;
    display: block;
}

.banner__content {
    flex: 1;
    text-align: left;
}

.banner__buttons {
    display: flex;
    margin-top: 30px;
}

.team__text--inner {
    display: flex;
    border-bottom: 2px solid #6F6F6F;
    margin-bottom: 50px;
    align-items: center;
}

.btn_back,
.btn_go {
    margin-bottom: 30px;
    margin-left: auto;
    margin-left: 10px;
}

.banner__team-info .swiper-slide {
    padding-bottom: 50px;
    box-sizing: border-box;
    width: 100%;
}

.container_project {
    padding-bottom: 2px;
    display: flex;
    max-width: 100%;
}

.swiperrr_mySwiper {
    overflow: hidden;
}

.swiperr_mySwiper {
    overflow: hidden;
}

.swiper_mySwiper {
    position: relative;
    overflow: hidden;
}

.swiper-container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.our-vision {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.swiper-container_partners {
    width: 100%;
    margin-bottom: 20px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 10px;
    box-sizing: border-box;
}

.team-info__content img {
    max-width: 100%;
    height: auto;
}

.position_user {
    display: flex;
    margin: 15px 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.user_name {
    font-weight: 400;
    color: #242424;
    font-family: "e-UkraineHead";
    font-size: clamp(0.875rem, 0.75rem + 0.625vw, 1.5rem);
}

.project-info__content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-sizing: border-box;
}

.ready {
    margin-right: 50px;
    padding-bottom: 25px;
    white-space: nowrap;
}

.btn__text {
    font-size: clamp(0.3125rem, 0.2rem + 0.5625vw, 0.875rem);
    font-family: "e-UkraineHead";
    padding-left: clamp(0.3125rem, 0.125rem + 0.9375vw, 1.25rem);
    padding-right: clamp(0.3125rem, 0.125rem + 0.9375vw, 1.25rem);
    padding-top: clamp(0.3125rem, 0.1986rem + 0.5696vw, 0.875rem);
    padding-bottom: clamp(0.3125rem, 0.1986rem + 0.5696vw, 0.875rem);
    max-height: 220px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn__text svg {
    margin-left: clamp(0.125rem, 0.025rem + 0.5vw, 0.625rem);
}

.footer {
    margin-top: 100px;
    font-weight: 466px;
    background-color: black;
    color: floralwhite;
}

.footer__networks {
    margin-top: 20px;
    margin-bottom: clamp(1.25rem, 0.75rem + 2.5vw, 3.75rem);
    list-style: none;
    display: flex;
}

.footer__networks img {
    width: 20px;
    height: 20px;
}

.footer__networks li {
    margin-right: clamp(0.625rem, 0.25rem + 1.875vw, 2.5rem);
}

.footer__privacy-policy {
    font-family: 'e-Ukraine';
    font-size: clamp(0.1875rem, 0.05rem + 0.6875vw, 0.875rem);
    color: #7B7B7B;
}

.content_left {
    margin-right: clamp(1.25rem, -1.625rem + 14.375vw, 15.625rem);
}

.content__top {
    display: flex;
    justify-content: space-between;
    text-align: start;
}

.content_right {
    width: max-content;
    justify-content: space-between;
    flex-grow: 1;
    display: flex;
    margin-top: clamp(1.5rem, 0.55rem + 4.75vw, 6.25rem);
}

.content_right>div {
    margin-right: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
}

.logo__link {
    padding-right: clamp(0.125rem, 0.025rem + 0.5vw, 0.625rem);
}

.logo__link svg {
    width: clamp(1rem, 0.5125rem + 2.4375vw, 3.4375rem);
    height: clamp(1rem, 0.5125rem + 2.4375vw, 3.4375rem);
}

.course_content_top {
    align-items: center;
    display: flex;
}

.course_content_bottom {
    color: #6F6F6F;
    font-family: "a-Euclid";
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    padding-left: 35px;
    flex-wrap: wrap;
}

.grid_content {
    display: flex;
    flex-wrap: wrap;
}

.grid_content svg {
    width: clamp(1.25rem, -0.5222rem + 8.8608vw, 10rem);
    height: clamp(1.25rem, -0.5222rem + 8.8608vw, 10rem);
}

.item_style {
    margin: clamp(0.125rem, 0.0237rem + 0.5063vw, 0.625rem);
    padding: clamp(0.625rem, 0.3465rem + 1.3924vw, 2rem) clamp(0.625rem, 0.1693rem + 2.2785vw, 2.875rem);
    border: 2px solid #6F6F6F;
    border-radius: 20px;
}

.grid_content [class^="item_"]:hover {
    background-color: #6A00fa;
}

.item_1:hover .title--4,
.item_2:hover .title--4,
.item_3:hover .title--4,
.item_4:hover .title--4,
.item_5:hover .title--4,
.item_6:hover .title--4,
.item_7:hover .title--4,
.item_8:hover .title--4,
.item_9:hover .title--4,
.item_10:hover .title--4,
.item_11:hover .title--4 {
    color: #ffffff;
}

.item_1:hover .course_content_bottom,
.item_2:hover .course_content_bottom,
.item_3:hover .course_content_bottom,
.item_4:hover .course_content_bottom,
.item_5:hover .course_content_bottom,
.item_6:hover .course_content_bottom,
.item_7:hover .course_content_bottom,
.item_8:hover .course_content_bottom,
.item_9:hover .course_content_bottom,
.item_10:hover .course_content_bottom,
.item_11:hover .course_content_bottom {
    color: #ffffff;
}

.item_1:hover .cls-2,
.item_2:hover .cls-2,
.item_3:hover .cls-2,
.item_4:hover .cls-2,
.item_5:hover .cls-2,
.item_6:hover .cls-2,
.item_7:hover .cls-2,
.item_8:hover .cls-2,
.item_9:hover .cls-2,
.item_10:hover .cls-2,
.item_11:hover .cls-2 {
    fill: #ffffff;
}

.item_1:hover .cls-1,
.item_2:hover .cls-1,
.item_3:hover .cls-1,
.item_4:hover .cls-1,
.item_5:hover .cls-1,
.item_6:hover .cls-1,
.item_7:hover .cls-1,
.item_8:hover .cls-1,
.item_9:hover .cls-1,
.item_10:hover .cls-1,
.item_11:hover .cls-1 {
    fill: rgb(167, 10, 167);
}

.item_center {
    white-space: nowrap;
}

.item_11,
.item_10,
.item_9 {
    flex-basis: 31.5%;
}

.item_8,
.item_7 {
    flex-basis: 48%;
}

.item_6 {
    flex-basis: 97%;
}

.item_3,
.item_4,
.item_5 {
    flex-basis: 31.5%;
}

.item_1,
.item_2 {
    flex-basis: 48%;
}

.top--text {
    white-space: nowrap;
    margin-right: 5px;
    font-size: clamp(0.25rem, 0.075rem + 0.875vw, 1.125rem);
    font-family: "e-UkraineHead";
}

.left--top {
    align-items: center;
    display: flex;
    margin-top: clamp(1rem, 0.2rem + 4vw, 5rem);
}

.footer__text_left__center {
    font-family: "e-Ukraine";
    color: #7B7B7B;
    margin-top: clamp(0.25rem, 0.05rem + 1vw, 1.25rem);
    padding-bottom: clamp(0rem, -0.625rem + 3.125vw, 3.125rem);
    font-size: clamp(0.375rem, 0.275rem + 0.5vw, 0.875rem);
    line-height: 2;
}

.footer__left--center {
    font-family: "e-Ukraine";
    color: #7B7B7B;
    font-size: clamp(0.1875rem, 0.05rem + 0.6875vw, 0.875rem);
    text-align: left;
    padding-top: clamp(0.75rem, 0.4rem + 1.75vw, 2.5rem);
    white-space: nowrap;
}

.footer__left--bottom {
    font-family: "e-Ukraine";
    color: #7B7B7B;
    font-size: clamp(0.1875rem, 0.05rem + 0.6875vw, 0.875rem);
    padding-top: clamp(0.375rem, 0.2rem + 0.875vw, 1.25rem);
    white-space: nowrap;
}

.content__bottom {
    display: flex;
    justify-content: space-between;
    text-align: start;
    align-items: center;
    padding-bottom: 54px;
}

.text_icon {
    margin-top: clamp(-4.375rem, -5rem + 3.125vw, -1.25rem);
}

.banner__btn {
    border: 1px solid grey;
    color: #242424;
    text-align: center;
    font-family: "a-Euclid";
    text-decoration: none;
    padding: clamp(0.5rem, 0.375rem + 0.625vw, 1.125rem) clamp(0.875rem, 0.425rem + 2.25vw, 3.125rem);
    font-weight: 500;
    border-radius: 50px;
}

.banner__expanded_btn {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 50px;
}

.footer__copy {
    padding-left: 50px;
    font-family: 'e-Ukraine';
    font-size: clamp(0.25rem, 0.125rem + 0.625vw, 0.875rem);
    color: #7B7B7B;
    margin-left: clamp(-6.25rem, -8.125rem + 9.375vw, 3.125rem);
}

.expanded--btn {
    margin-left: auto;
}

.btn {
    border: 1px solid grey;
    background-color: #FFF;
    color: #242424;
    text-align: center;
    font-family: "a-Euclid";
    text-decoration: none;
    padding: 18px 40px;
    font-weight: 500;
    border-radius: 50px;
}

.banner__all_btn_while {
    background-color: #FFF;
    color: #242424;
    text-align: center;
    font-family: "a-Euclid";
    text-decoration: none;
    margin-right: clamp(0.25rem, 0.175rem + 0.375vw, 0.625rem);
    padding: clamp(0.25rem, 0.075rem + 0.875vw, 1.125rem) clamp(1.875rem, 1.75rem + 0.625vw, 2.5rem);
    font-weight: 500;
    border-radius: 50px;
}

.banner__all_btn {
    color: #FFF;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "a-Euclid";
    text-decoration: none;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: clamp(0.25rem, 0.175rem + 0.375vw, 0.625rem);
    padding: clamp(0.25rem, 0.075rem + 0.875vw, 1.125rem) clamp(1.875rem, 1.75rem + 0.625vw, 2.5rem);
    font-weight: 500;
    border-radius: 50px;
}

.banner__all_btn svg {
    width: clamp(0.25rem, 0.1125rem + 0.6875vw, 0.9375rem);
    height: clamp(0.25rem, 0.1125rem + 0.6875vw, 0.9375rem);
}

.btn--violet {
    color: #FFF;
    background-color: #6A00fa;
    font-weight: 400;
}

.title--1 {
    color: #FFF;
    text-align: left;
    font-family: "e-UkraineHead";
    font-size: clamp(1.25rem, 0.9209rem + 1.6456vw, 2.875rem);
    font-weight: 700;
    white-space: nowrap;
}

.title--2 {
    font-family: "e-Ukraine";
    font-size: clamp(0.375rem, 0.225rem + 0.75vw, 1.125rem);
    font-weight: 400;
    margin-bottom: 50px;
    line-height: 2;
}

.inner_title--2 {
    padding-top: 20px;
    color: #FFF;
    line-height: 1.5;
}

.inner_title_ready {
    padding-right: 5px;
    white-space: nowrap;
    line-height: 2;
}

.title--3 {
    font-family: "a-Euclid";
    font-weight: 400;
    color: #2A2A2A;
    font-size: clamp(1.5rem, 1.05rem + 2.25vw, 3.75rem);
    padding-right: clamp(0.3125rem, -0.125rem + 2.1875vw, 2.5rem);
}

.title--4 {
    margin-bottom: 2px;
    color: #242424;
    font-family: "a-EuclidBold";
    font-size: clamp(0.875rem, 0.675rem + 1vw, 1.875rem);
    padding-bottom: clamp(0.125rem, -0.1915rem + 1.5823vw, 1.6875rem);
}

.title--5 {
    font-family: "a-Euclid";
    font-weight: 400;
    color: #FFF;
    text-align: center;
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
    background-color: #6A00fa;
    text-decoration: none;
    padding: 2px clamp(0.5rem, 0.225rem + 1.375vw, 1.875rem);
    border-radius: 50px;
}

.title--6 {
    color: #242424;
    text-align: center;
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
    text-decoration: none;
    padding: clamp(0.125rem, -0.025rem + 0.75vw, 0.875rem) clamp(0.5rem, 0.375rem + 0.625vw, 1.125rem);
    font-family: "a-Euclid";
    font-weight: 400;
}

.title--8 {
    color: #6F6F6F;
    text-align: center;
    font-size: clamp(0.625rem, 0.575rem + 0.25vw, 0.875rem);
    font-weight: 300;
    margin: clamp(0.25rem, 0.175rem + 0.375vw, 0.625rem) 0 clamp(0.625rem, 0.375rem + 1.25vw, 1.875rem);
}


.our {
    font-family: "a-Euclid";
    color: #FFF;
    text-align: center;
    padding-top: clamp(1.25rem, 0.25rem + 5vw, 6.25rem);
    padding-bottom: clamp(1.25rem, 0.875rem + 1.875vw, 3.125rem);
}

.center_top {
    position: relative;
}

.center_top::after {
    content: "";
    position: absolute;
    background-color: #FFF;
    left: 100px;
    top: calc(50% - 1px);
    height: 4px;
    width: clamp(3.125rem, -0.0396rem + 15.8228vw, 18.75rem);
    background: linear-gradient(to right, #000, #FFF);
}

.donat,
.courses {
    margin-bottom: 50px;
}

.сourse {
    padding-bottom: 80px;
}

.donat__inner {
    margin-top: 90px;
    text-align: center;
    margin-bottom: 80px;
}

.courses__inner {
    padding-top: 80px;
    text-align: left;
}

.team {
    margin-right: auto;
    margin-bottom: 30px;
}

.banner__team {
    margin-right: auto;
    margin-right: 10px;
}

.project-info__content img {
    max-width: 100%;
    height: auto;
}

.project-info__content_bm img {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1100px) {
    .banner_laptop_ready img {
        width: 90%;
        height: 90%;
    }

    .footer__networks img {
        width: 50%;
    }

}

@media screen and (max-width: 720px) {


    .banner_laptop_ready img {
        width: 80%;
        height: 80%;
    }
}

@media screen and (max-width: 350px) {
    .title--5 {
        font-size: 12px;
    }

    .title--6 {
        font-size: 12px;
    }
}